{% extends 'base.html' %}

{% block content %}
    <form method="POST" class="row">
        <div class="col 4">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <button type="button" class="btn btn-light border-dark" id="addNewIngredientField" onClick="addIngredientForm()">+</button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light border-dark" id="addNewIngredientField" onClick="removeIngredientForm()">-</button>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title text-center">Ingredient List</h5>
                        </div>
                    </div>
                    <div id="ingredients">
                        {{ ingredientForm.csrf_token }}
                        {% for i in recipeForm.ingredients %}
                        {{ i }}
                        {% endfor %}
                        
                        
                    </div>
                </div> {# card-body #}
            </div> {# card #}
        </div>

        <div class="col-8">
            {{ recipeForm.csrf_token }}
            
            {{ recipeForm.recipe_name.label }}
            {{ recipeForm.recipe_name(class="form-control", maxlength="50", placeholder="Recipe Name") }}
            
            {{ recipeForm.category.label }}
            {{ recipeForm.category(class="form-control", maxlength="50", placeholder="Category (Breakfast, Lunch, Dinner, Appetizier, Side, etc.)") }}
            
            {{ recipeForm.cuisine.label }}
            {{ recipeForm.cuisine(class="form-control", maxlength="50", placeholder="Cuisine (Asian, Mexican, Italian, etc.)") }}

            {{ recipeForm.submit(class="btn btn-light border-secondary w-25 mt-2") }}
        </div>
    
    
    </form>

{% endblock content %}