{% extends 'base.html' %}

{% block hero %}
    <div class="hero-image">
        <div class="hero-text">
            <h1>Welcome to your Personal Cookbook</h1>
            <p>Save and share your recipes</p>
        </div>
    </div>
{% endblock hero %}

{% block content %}
    <div class="row mt-4">
        <div class="col-12 col-sm-4 my-2"> <!-- Save Card -->
            <div class="card">
                <div class="icon d-flex justify-content-center mb-3 mt-5">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="far fa-save fa-stack-1x text-light"></i>
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Save your recipes.</h5>
                    <p class="card-text text-center">Are your favorite recipes scattered through multiple cookbooks, youtube videos and food blogs?</p>
                    <p class="card-text text-center">Here you can save all of them in one place for your personal use forever.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 my-2"> <!-- Edit Card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Edit your recipes.</h5>
                    <p class="card-text text-center">Any recipe you upload you can fully edit later to make it your own.</p>
                    <p class="card-text text-center">Don't like an ingredient? Forgot a step in the instructions? Want to add notes to your future self? Go back anytime and change anything at anytime.</p>
                </div>
                <div class="icon d-flex justify-content-center mt-3 mb-5">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="far fa-edit fa-stack-1x text-light"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 my-2"> <!-- List Card -->
            <div class="card">
                <div class="icon d-flex justify-content-center mb-3 mt-5">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-list fa-stack-1x text-light"></i>
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Plan your meals.</h5>
                    <p class="card-text text-center">"What do you want for dinner tonight?" "I don't know, what do you want?"</p>
                    <p class="card-text text-center">Sound familiar? We'll pick for you. Generate a meal plan for the week with a shopping list to go with it.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}