{% extends 'base.html' %}

{% block content %}
    <div class="card mt-1">    
        <h1 class="text-center card-text mb-1">Welcome to your personal meal planner</h1>
        <p class="card-text text-center">Choose from the options below to customize your plan.</p>
    </div>

    <div class="row">
        <div class="col-12 col-sm-3 my-2">
            <form method="post">
                {{ plannerForm.csrf_token }}
                <div class="card p-2">
                    {{ plannerForm.recipeCount.label }}
                    {{ plannerForm.recipeCount(class="form-control", placeholder="0-7") }}
                    
                    {{ plannerForm.submit(class="btn btn-light border-secondary mt-2", id="submit-button") }}
                </div>
            </form>
        </div>

        <div class="col-12 col-sm-6 my-2">
            <div class="card p-2">
                <h2 class="card-title border-bottom">Meal Planner</h2>
            </div>
            {% if not meals %}
                <p class="card-text">No meal plan generated yet :(</p>
            {% else %}
                {% for meal in meals %}
                    <div class="card my-2 p-2">
                        <h3 class="card-title">{{ meal.recipe_name }}</h3>

                        <a href="{{ url_for('food.singleRecipe', recipe_Id = meal.id)}}" class="stretched-link card-link">View More</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-12 col-sm-3 my-2">
            <div class="card p-2">
                <h2 class="card-title">Shopping List</h2>
            </div>
            {% for ingredient_list in recipe_ingredients %}
            <div class="card p-2 mt-2">
                <h6 class="card-title text-center">{{ meals[loop.index -1] }}</h6>
                <table class="table table-striped">
                    {% for ingredient in ingredient_list %}
                    <tbody>
                            <tr class="shopping-list" onClick="this.classList.toggle('done')">
                                <th scope="row" class="card-text">{{ ingredient.amount }}</th>
                                <td class="card-text">{{ ingredient.ingredient }}</td>
                            </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}

        </div>



    </div>

{% endblock content %}