{% extends 'base.html' %}

{% block content %}

    <div class="card mt-1">    
        <h1 class="text-center card-text mb-1">Welcome to your virtual pantry</h1>
        <p class="card-text text-center mb-0">Add items that you like to keep a stock of, such as canned goods or pasta noodles.</p>
        <p class="card-text text-center">(Make sure you submit at the bottom to save your changes!)</p>
    </div>

    <div class="row">

        <div class="col-12 col-sm-5 my-2">
            <form method="post" enctype="multipart/form-data">
                {{ pantryForm.csrf_token }}

                <div class="card p-2">
                    <div class="row">
                        <div class="col-2">
                            <button type="button" class="btn btn-light border-dark" id="addNewPantryField" onClick="addPantryForm()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light border-dark" id="addNewPantryField" onClick="removePantryForm()">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center">
                            <h5 class="card-title text-center">New pantry items</h5>
                        </div>
                    </div>
                    <div id="pantryItemForms">

                    </div>
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        {{ pantryForm.submit(class="btn btn-light border-secondary mt-2") }}
                    </div>
                </div>
            </form>



        </div>
        <div class="col-12 col-sm-7 my-2">
            <div class="card p-2">
                <p class="card-text">Pantry items go here</p>
                
            </div>



        </div>

    </div>



    {% endblock content %}